
{% extends 'users/base.html'%}
{% load static %}
{% load crispy_forms_tags%}

{% block style %}

body {
    
}

input,
textarea {
    background-color: #F3E5F5;
    border-radius: 50px !important;
    padding: 12px 15px 12px 15px !important;
    width: 100%;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #F3E5F5 !important;
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 400
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #D500F9 !important;
    outline-width: 0;
    font-weight: 400
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.card {
    border-radius: 0;
    border: 1px solid purple;
}

.card1 {
    width: 50%;
    padding: 40px 30px 10px 30px
}

.card2 {
    width: 50%;
}

#logo {
    width: 70px;
    height: 60px
}

.heading {
    margin-bottom: 60px !important
}

::placeholder {
    color: #000 !important;
    opacity: 1
}

:-ms-input-placeholder {
    color: #000 !important
}

::-ms-input-placeholder {
    color: #000 !important
}

.form-control-label {
    font-size: 12px;
    margin-left: 15px
}

.msg-info {
    padding-left: 15px;
    margin-bottom: 30px
}

.btn-color {
    border-radius: 50px;
    color: #fff;
    background-image: linear-gradient(to right, #FFD54F, #D500F9);
    padding: 15px;
    cursor: pointer;
    border: none !important;
    margin-top: 40px
}

.btn-color:hover {
    color: #fff;
    background-image: linear-gradient(to right, #D500F9, #FFD54F)
}

.btn-white {
    border-radius: 50px;
    color: #D500F9;
    background-color: #fff;
    padding: 8px 40px;
    cursor: pointer;
    border: 2px solid #D500F9 !important
}

.btn-white:hover {
    color: #fff;
    background-image: linear-gradient(to right, #FFD54F, #D500F9)
}

a {
    color: #000
}

a:hover {
    color: #000
}

.bottom {
    width: 100%;
    margin-top: 50px !important
}

.sm-text {
    font-size: 15px
}

@media screen and (max-width: 992px) {
    .card1 {
        width: 100%;
        padding: 40px 30px 10px 30px
    }

    .card2 {
        width: 100%
    }

    .right {
        margin-top: 100px !important;
        margin-bottom: 100px !important
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px !important
    }

    .card2 {
        padding: 50px
    }

    .right {
        margin-top: 50px !important;
        margin-bottom: 50px !important
    }
}


{% endblock style %}

{% block content %}
{% load crispy_forms_tags%}
<div class="container px-4 py-5 mx-auto">
    <div class="card card0">
        <div class="d-flex flex-lg-row flex-column-reverse">
            <div class="card card1">
                <div class="row justify-content-center my-auto">
                    <div class="col-md-8 col-10 my-5">
                        <h3 class="mb-5 text-center heading">Register Here</h3>
                        <h6 class="msg-info"></h6>                       
                          <form method="POST">
	                          {% csrf_token %}                          
	                          {{ form|crispy }}                     
	                          <div class="form-group text-center">
	                            <button class="btn btn-white ml-2" type="submit">Sign Up</button>
	                          </div>
                          </form>
                          <hr>
                          <div class="bottom text-center mb-5">
                               <p href="#" class="sm-text mx-auto mb-3">Already have an account?<a class="btn btn-white ml-2" href="{% url 'login' %}">Sign in</a></p>
                          </div>                                                
                    </div>
                </div>               
            </div>
            <div class="card card2">
                <div class="my-auto mx-md-5 px-md-5 right">
                    <img src="https://st2.depositphotos.com/1001877/6374/i/600/depositphotos_63745315-stock-photo-home-appliances-seamless-pattern-cooker.jpg" style="width: 120%; height: auto; margin-left: -20px;">
                     <img src="https://i.pinimg.com/564x/80/de/30/80de30f5d6a192aa1cb2aea96513d664.jpg" style="width: 120%; height: auto; margin-left: -20px; padding-top: 20px;">

                     <img src="https://i.pinimg.com/564x/f6/bd/b5/f6bdb577b5e2b38bf9540f8635cf9e51.jpg" style="width: 120%; height: auto; margin-left: -20px; padding-top: 70px;">
            </div>
        </div>
    </div>
        </div>
    </div>
</div>

{% endblock content %}

