{% extends 'users/base.html'%}
{% load static %}
{% load crispy_forms_tags%}

{% block links %}<!-- 

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


{% endblock links %}

{% block style %}



{% endblock style %}


{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" style="height: 400px;">
    <div class="carousel-item active" style="object-fit: cover;">
      <img class="d-block w-100" src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZHVjdHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="First slide" class="img-responsive" style="width:100%; max-height: 500px;  ">
    </div>
    <div class="carousel-item" style="object-fit: cover;">
      <img class="d-block w-100" src="https://images.unsplash.com/photo-1523275335684-37898b6baf30?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8cHJvZHVjdHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Second slide" class="img-responsive" style="width:100%; max-height: 500px;">
    </div>
    <div class="carousel-item" style="object-fit: cover;">
      <img class="d-block w-100" src="https://cdn.shopify.com/s/files/1/0070/7032/files/diy-product-photography.jpg?v=1599161908" alt="Third slide" class="img-responsive" style="width:100%; max-height: 500px;">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>

	
<div class="container " style="margin-top: 0px;">   
    <div class="row">
      <div class="col-md-12 mx-auto">          
          <h1 class="display-4" style="text-align: center;">
            <form method="POST" action="">
              {% csrf_token %}
              <input type="search" name="category" placeholder="Search products here.." style="font-size: 16px; padding: 15px; width: 50%; border: 1px solid grey; margin-bottom: 10px;">
              <button type="submit" style="font-size: 16px; padding: 15px; border: 1px solid grey; background-color: white;"> <i class="fa fa-search"></i></button>
            </form>
            {% if prod|length != 0 %}
              Our Products
            {% else %}
              Sorry Couldn't find the product
            {% endif %}
          </h1>
          <br>
      </div>
      <div class="col-lg-8 mx-auto">
        <ul class="list-group shadow">                              
            {% for p in prod %}
            <!-- list group item -->
            <li class="list-group-item">
                <!-- Custom content-->
                <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                    <div class="media-body order-2 order-lg-1">
                      <br>
                        <a href="{% url 'product-detail' p.id %}" style="text-decoration: none; color: black;">
                        <h5 class="mt-0 font-weight-bold mb-2">{{  p.name }}</h5>
                      
                        <p class="font-italic text-muted mb-0 small">{{ p.description }}<br><br></p>
                        <div class="d-flex align-items-center justify-content-between mt-1">
                        <h4 class="font-weight-bold "> &#x20b9; {{ p.price }} /- </h4>
                        </div>
                        </a>
                        <br>
                    {% if user.is_authenticated %}
                       {% if p in order %}
                            <form method="POST" action="{% url 'add-product' p.id  %}">
                              {% csrf_token %}
                              <button name="btn" value="{{ p.id }}" type="submit" style="" class="btn btn-danger">Remove from cart <i class="fa fa-shopping-cart"></i></button>
                            </form>
                        {% else %}
                            <form method="POST" action="{% url 'add-product' p.id  %}">
                              {% csrf_token %}
                              <button name="btn" value="{{ p.id }}" type="submit" style="" class="btn btn-success">Add to cart <i class="fa fa-shopping-cart"></i> </button>
                            </form>
                        {%  endif %}   
                    {% endif %}
                    </div><img src="/media/{{ p.image1 }}" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2" style="  max-height: 200px; width: auto;">
                </div> <!-- End -->
            </li> <!-- End -->
            {% endfor %}  
        </ul> <!-- End -->
    </div>
</div>
</div>


<br>
{% if prod.has_other_pages %}
  <ul class="pagination justify-content-center">
    {% if prod.has_previous %}
      <li><a href="?page={{ prod.previous_page_number }}" class="page-link">&laquo;</a></li>
    {% else %}
     
    {% endif %}
    {% for i in prod.paginator.page_range %}
      {% if prod.number == i %}
        <li class="active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if prod.has_next %}
      <li><a href="?page={{ prod.next_page_number }}" class="page-link">&raquo;</a></li>
    {% else %}
      
    {% endif %}
  </ul>
{% endif %}

{% endblock content %}